[include]
  path = ~/.gituser

[alias]
  a = add
  b = branch
  c = commit
  clean-pr = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
  clean-merged = "!git branch --merged | grep -v '\\*\\|main' | xargs -n 1 git branch -d"
  co = checkout
  d = diff
  lg = log --branches --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %C(bold)%s%Creset %Cgreen(%cr) %C(bold blue)<%an>' --abbrev-commit

  # Check out a pull request from GitHub as a branch named "pr/<Number>"
  pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"

  # Matches its acronym: 'pull upstream master'
  pum = "!git pull upstream master"

  # Create and track a branch on origin with same name as current local branch
  puo = "!git rev-parse --abbrev-ref HEAD | xargs -n 1 git push -u origin"

  s = status

[color]
  diff = auto
  status = auto
  branch = auto

[core]
  excludesfile = ~/.gitignore

  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

[credential]
  helper = osxkeychain

[init]
  defaultBranch = main

[pager]
  branch = false

[push]
  default = simple
