"*":
  core:
    disabledPackages: [
      "deprecation-cop"
      "incompatible-packages"
      "metrics"
      "styleguide"
      "timecop"
      "tree-view"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  welcome:
    showOnStartup: false
  nuclide:
    remoteProjectsConfig: []
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    preferredLineLength: 100
    fontSize: 12
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  linter:
    lintOnFly: false
    showErrorPanel: false
